API_ID=21114830
API_HASH=7cf6838a8f5acd6ea41f29fe3143ad60
BOT_TOKEN=7111848175:AAHrAQQMhi-OVZv8czOMZl9I_VqQWoKMc4w
LOGGER_ID=-1001969159081
MONGO_DB_URI=mongodb+srv://AnjaliWorld098:anjaliworld098@cluster0.2xwkwyi.mongodb.net/?retryWrites=true&w=majority
OWNER_ID=1073815732
STRING_SESSION=BQFCL84AtoUSrJfeL6rOCh4ufYAfxniWYZNuRsPuWRT_QHRyp0qfGSOv-AToBGsFDy-6K7lbDJZ5-3h0qRkKBRa6ffrKVHyk9yd2TIJsWOKu1-zbszMVR8UWJOImcgC91N2HJFhIQx6ezon6y8Kz_9Ri2Gy4cM9GbYPtiiFltNB1HaND40BK2N-qGBWz_GVC_A6XsGQlDQ-hUYdrrUsJqMDC1_5wKiA-Juzxsz2JsIiwg-7jfsUPvZmWuxkVM2lwoGL2p7UXGOvOZrKNtPc2-ezpB41OKoBDFYBTnb9IYm0MDJvHc9ZZd-DC9ajTXJZhTbFKGiH1cHoW3mEJ3A_B5OdSfQSPtgAAAAHgHk9TAA
